<ul class='list-group'>
  <li class='list-group-item d-flex justify-content-center'>
    <div class='col-12'>
      <%= column_chart @column_chart, 
          prefix: "Qnt Tarefa ", 
          download: true, 
          download: {background: "#ffffff"},
          title: "Tarefas criadas por hora"
      %>
    </div>
  </li>
  <li class='list-group-item d-flex justify-content-center'>
    <div class='col-12'>
      <%= pie_chart @pie_chart , 
          download: true, 
          download: {background: "#ffffff"},
          title: "Tarefas concluídas e não concluídas"
      %>
    </div>
  </li>
  <li class='list-group-item d-flex justify-content-center'>
    <div class='col-12'>
      <%= line_chart @line_chart, 
          prefix: "Qnt Listas ", 
          download: true, 
          download: {background: "#ffffff"},
          title: "Listas criadas por data"
      %>
    </div>
  </li>
</ul>
